@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root{
    --ineuron:#1340b1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #f0f0f0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 60px;
    color: var(--ineuron);
    font-size: 1.2em;
    font-weight: 100;
    position: fixed;
    width: 100vw;
    
    
}

[alt="logo"]{

    width: 130px;
    margin-left: 80px;
    margin-right: 40px;
    
}

select{
    border: 0;
    outline: 0;
    color: var(--ineuron);
    font-size: 1.1em;
    cursor: pointer;
    width: 120px;
    
}

.nav-container ul {
    display: flex;
    
    
   

}

.nav-container li{
    margin-right: 100px;
}

.nav-container li:hover:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--ineuron);
    display: block;
    transition: 0.5s;
    
}

.fa-user{
    margin-right: 80px;
    
}

.fa-user:hover{
    color: #fff;
    background-color: var(--ineuron);
    padding: 5px;
}

.fa-bars{
    display: none;
}

.fa-xmark{
    display: none;
}


/* banner-container */

.banner-container{
    display: flex;
    width: 100%;
}

/* ----banner---- */
.banner{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: var(--ineuron);
    align-items: center;
    height: 80vh;
    color: #fff;
    
    
   
    
}

.banner-left{
    flex-basis: 50%;
    margin-left: 80px;
}

.banner-left h2::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: goldenrod;
    display: block;

}
.banner-left h1{
 font-size: 3em;
 margin: 5px 0;
}

.banner-left p{
    line-height: 2em;
}

.banner-right{
    flex-basis: 50%;
    margin-right: 80px;
}

.banner-right img{
    width: 100%;
}

/*----- hardwork------ */

.head{
    text-align: center;
    padding: 35px;
    font-size: 3em; 
    color: var(--ineuron);
}

.data{
    display: flex;
    justify-content: space-between;
    margin: 80px 80px;
    
}
.a{
    text-align: center;
}

/* ---live-classes---- */

.heading{
    text-align: center;
    margin-bottom: 70px;
}

.cards{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin: 0 50px;
    flex-wrap: wrap;
    

}

.card {


    flex-basis: 30%;
    text-align: center;
    background-color: rgb(0, 0, 0,0.1);
    display: inline-block;
    padding: 25px;
    margin-bottom: 40px;
    
}

.card img{
    width: 80%;
}
/* hackathon */
.hackathon{
    margin:70px 0px;
    height: 40vh;
    background-color: rgb(0, 0, 0,0.1);
}

.hack-heading h1{
    font-size: 3em;
    text-align: center;
    padding: 10px;
    margin: 50px 0;
}

.hack-companies{
display: flex;
margin: 0 20px;

}

.hack-companies img1{
    flex-basis: 18%;

}

.hack-companies img{
    width:80%;
    display: inline-block;
}



/* products */


.products{
    text-align: center;
    margin-top: 50px;
    
}

.all-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 40px 0px;
    

    
}

.pro{


    flex-basis:30%;
    margin: auto;
    padding: 20px;
}


/* ---avengers--- */

.avengesrs-heading{
    text-align: center;
    margin: 50px 0;
}
.avengesrs-heading h1{
    font-size: 3em;
}


.avg-cards{
    display: flex;
    
    overflow: hidden;
    
    justify-content: space-around;
    margin: 60px 0px;
    
    flex-wrap: wrap;
    
    

}

.avg-card{
    flex-basis: 25%;
    text-align: center;
    background-color: #fff;
    margin: 10px;
    padding: 50px 20px;
}

.avg-card img{
    width: 45%;
    margin: 30px;
    border-radius: 50%;
    background-color:#f0f0f0 ;

}

.avg-card .fa-linkedin{
    margin-top: 30px;
}

/* footer */

footer{
    background-color: var(--ineuron);
    color: #fff;
}

.foot-top{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;

}



.foot-top ul{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    margin-right: 80px;
}


.fa-location-dot{
    margin-right: 10px;
}

.fa-envelope{
    margin-right: 10px;
}


.foot-bottom{
    display: flex;
    justify-content: space-between;
    margin: 0px 90px;
}
.foot-bottom p{
line-height: 2em;
}


.address{
    flex-basis: 30%;

}

.iso{
    flex-basis: 70%;
    
}

.iso img{
    float: right;
}


/* media queries */


@media  screen and (max-width:1148px) {

    .nav-container li a{
        font-size: 0.8em;
    }

    [alt="logo"]{

        width: 100px;
        margin-left: 40px;
        
    }
    
}


@media screen and (max-width:1075px){
    
    .links ul {
        display: none;

    }

    .banner-left h1{
        font-size: 2em;
    }

    .banner-left h2{
        font-size: 1em;
    }

    
   
}

@media screen and (max-width:770px){

  .banner{
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
  }

  .banner-left h1{
    font-size: 1.5em;
    margin-top:60px;
    width: 100%;
}
  .banner-left h2{
margin-top:180px;
font-size: 1em;
width: 100%;

    
}

.banner-left p{
    display: none;
}
.banner-left{
    flex-basis: 50%;
    margin-left: 80px;
}

.banner-right{
    flex-basis: 50%;
    margin-right: 30px;
}


}


@media screen and (max-width:620px){
    .banner{
        height: 30vh;
    }

    .banner-right{
        display: none;

    }
    .banner-left{
        width: 90vw;
        flex-basis: 100%;
    }
    
    .banner-left h2{
        margin-top: 50px;
    }


    .head{
       
        font-size: 2em; 
        
    }

    .data{
       
        margin: 40px;
        
    }

    .num{
        font-size: 1em;
    }


    .a h2{
        font-size: 0.9em;
    }

    .all-products :nth-child(4){
        display: none;
    }

    .hack-heading h1{
        font-size: 2em;
    }


    .hackathon{
        height: 30vh;
    }



}


@media screen and (max-width:590px){

    .card3{
        display: none;
    }

    .avg-card:nth-child(3){
        display: none;
    }

    .hack-heading{

        font-size: 0.9em;

    }

    .hack-companies div:nth-child(2){

        display: none;

    }

    

}


@media screen and (max-width:424px){

    .foot-bottom{

        margin: 0px 20px;

    }

    .foot-top i{
        margin-right: 10px;

    }

  

  .live-classes .card h3{
    font-size: 0.8em;
    
  }

  .data{
    display: flex;
    flex-direction: column;
  }
}

